<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<body>

<div class="container">
    <h1>Whatsapp Bot</h1>
    <hr />
    <div class="row">
      <div class="col-md-6">
        <form action="/send/message/" method="post">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Enter Message</label>
                <input class="form-group  form-control form-control-lg" type="text" placeholder="type message" name="inputMessage">              </div>
            <div>
                <select class="form-group form-control form-control-lg"  name="phoneNumber">
                    <option disabled selected value> -- select Number -- </option>
                    <option value="whatsapp:+917062799435">Piyush:+917062799435</option>
                    <option value="whatsapp:+919558227306">Sahil:+919558227306</option>
                    <option value="whatsapp:+917732852506">Munes:+917732852506</option>
                  </select>
            </div>
            <div class="form-group">
                <button class="btn btn-info">Send</button>
            </div>

        </form>
      </div>
    </div>
  </div>
</body>
</html>



